<blockquote>
<p><strong>The current plug-in configuration:</strong>
<p>To delete this configuration, click the Delete button. Please note that this action does not delete the plug-in template.

<p><strong>General settings</strong>
<p><table width=100% bgcolor=#cccccc cellpadding=0 cellspacing=0 border=0>
<tr><td><table width=100% cellpadding=3 cellspacing=1 border=0>
<tr>
<td>Field Name<br></td><td>Description</td></tr>

<tr>
<td bgcolor=white>Plug-in name</td>
<td bgcolor=white>The plug-in configuration name.
</td></tr>
<tr>
<td bgcolor=white>Plug-in template</td>
<td bgcolor=white>The name of template a plug-in configuration is based on.
</td></tr>
<tr>
<td bgcolor=white>Active</td>
<td bgcolor=white>If the plug-in is used for payments (active - green tick) or not (disabled - red cross). To activate the plug-in click the <strong>Mark as active</strong> button.
</td></tr>
<tr>
<td bgcolor=white>Preauthorization enabled</td>
<td bgcolor=white>The type of transactions to process: Yes (green tick) - transactions of the Preauth type (two-step transaction consisting of money preauthorization on a credit card and money capture), No (red cross) - process the Sale transactions only (one-step without preauthorization).
</td></tr>

</table>
</td></tr></table>
</td>
</tr></table>

<p><strong>Plug-in setting</strong> 
<p><table width=100% bgcolor=#cccccc cellpadding=0 cellspacing=0 border=0>
<tr><td><table width=100% cellpadding=3 cellspacing=1 border=0>
<tr>
<td>Field Name<br></td><td>Description</td></tr>

<tr>
<tr>
<td bgcolor=white>Server URL</td>
<td bgcolor=white>The URL of the test page where Dummy Redirect redirects your request.
</td></tr>

</table>
</td></tr></table>
</td>
</tr></table>

<p><strong>Miscellaneous settings</strong>. 
</p>
<p><table width=100% bgcolor=#cccccc cellpadding=0 cellspacing=0 border=0>
<tr><td><table width=100% cellpadding=3 cellspacing=1 border=0>
<tr>
<td>Field Name<br></td><td>Description</td></tr>
<tr>
<td bgcolor=white>Quick description of this payment method</td>
<td bgcolor=white>The plug-in short description to be shown to your customers.
</td></tr>

</table>
</td></tr></table>
</td>
</tr></table>

</blockquote>
