<blockquote>
<p>The Dummy payment plug-in can be used for testing purposes (no data is sent to outside Parallels Business Automation - Standard).</p>
<p>Dummy Redirect Payment plug-in emulates a redirect plug-in in work. It creates a test page and redirects you there.

<p>To configure the plug-in, fill the form:</p>

<p><strong>Plug-in configuration</strong>.
<p><table width=100% bgcolor=#cccccc cellpadding=0 cellspacing=0 border=0>
<tr><td><table width=100% cellpadding=3 cellspacing=1 border=0>
<tr>
<td>Field Name<br></td><td>Description</td></tr>

<tr>
<td bgcolor=white>Preauthorization enabled</td>
<td bgcolor=white>Select the type of transactions to process: if you want to process only the transactions of the Preauth type (two-step transaction consisting of money preauthorization on a credit card and money capture), then check the Preauthorization enabled box, if you want to process the Sale transactions only (one-step without preauthorization), then leave this box clear.
</td></tr>

</table>
</td></tr></table>
</td>
</tr></table>

<p><strong>Plug-in setting</strong> 
<p><table width=100% bgcolor=#cccccc cellpadding=0 cellspacing=0 border=0>
<tr><td><table width=100% cellpadding=3 cellspacing=1 border=0>
<tr>
<td>Field Name<br></td><td>Description</td></tr>

<tr>
<td bgcolor=white>Server URL</td>
<td bgcolor=white>Specify the URL of the test page where Dummy Redirect redirects your request.
</td></tr>

</table>
</td></tr></table>
</td>
</tr></table>

<p><strong>Miscellaneous settings</strong>. Here you can enter plug-in description.
</p>
<p><table width=100% bgcolor=#cccccc cellpadding=0 cellspacing=0 border=0>
<tr><td><table width=100% cellpadding=3 cellspacing=1 border=0>
<tr>
<td>Field Name<br></td><td>Description</td></tr>
<tr>
<td bgcolor=white>Quick description of this payment method</td>
<td bgcolor=white>Enter the plug-in short description to be shown to your customers.
</td></tr>

</table>
</td></tr></table>
</td>
</tr></table>
</blockquote>
