<table cellpadding="4" cellspacing="1" border="0" class="DarkLines" width="550">
<tr>
  <td class="FieldTitleBg" valign="top" width="165">
      <span class="FieldTitle">{"<txt_server_url>"}</span>
      <br><img src="/images/1.gif" width="160" height="1">
  </td>
  <td class="FieldBodyBg" valign="top" width="345">{$gateway_url}</td>
</tr>
</table>
