<table cellspacing="0" cellpadding="5" border="0" width="550" class="formborder">
<tr>
  <td  align="left" width="165"><span class='FieldBody'>{"<txt_server_url>"}<br><img src="/images/1.gif" width=165 height=1></span>
 </td>
  <td  align="left" width="345">
  <input type='text' class="SWi300" name='gateway_url' value = '{$gateway_url}'>
</td>
</tr>
</table>